.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gashapon-draw-prize-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  width: 5.8rem;
  // height: 5rem;
  padding: 0.8rem 0;
  // background: rgba(0, 0, 0, .5);
  background: url('/images/gashapon/bg.png') no-repeat;
  background-size: cover;
  border: 0.06rem solid #7E5EFD;
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .desc {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 0.2rem 0;
    padding-top: 0;
    text-shadow: 0 0 0.1rem yellow;
    font-size: 0.26rem;
  }

  .result-pool-main {
    width: 100%;

    .reward-main {
      width: 100%;

      .rw-bg {
        width: 5.5rem;
        height: 4.5rem;
        margin: 0 auto;
        background: url('/images/gashapon/rw_bg.png') no-repeat;
        background-size: 100% 100%;
        position: relative;


        .rw-list {
          display: flex;
          justify-content: space-around;
          align-items: center;
          // align-content: flex-start;
          align-content: space-between;
          flex-wrap: wrap;
          height: 82%;
          // transform: scale(0.9);

          .rw-item {
            width: 0.9rem;
            height: 1.6rem;
            // height: 30%;
            margin: 0.1rem;
            position: relative;
            opacity: 0;



            .bubble {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 2;

              img {
                width: 0.9rem;
                height: 0.9rem;
              }

              .count {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 0.2rem;
                height: 0.2rem;
                position: absolute;
                top: 0;
                right: -0.1rem;
                background: red;
                color: #fff;
                font-size: 0.18rem;
                padding: 0.05rem;
                border-radius: 50%;
              }
            }

            .gift {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0.8);
              z-index: 3;

              img {
                width: 0.9rem;
                height: 0.9rem;
              }
            }

            .shadow {
              position: absolute;
              bottom: 0.1rem;
              left: 50%;
              transform: translateX(-50%);
              width: 0.8rem;
              height: 0.22rem;
              background: #3a0796;
              border-radius: 50%;
              margin: 0 auto;
            }

            .name {
              width: 1rem;
              position: absolute;
              bottom: -0.4rem;
              left: 50%;
              transform: translateX(-50%);
              font-size: 0.2rem;
              color: #fff;
              text-align: center;
              word-break: break-all;
            }
          }

          .rw-item:nth-child(n+6) {
            .name {
              bottom: -0.4rem;
            }
          }

          .come1 {
            animation: come 1s linear;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
          }

          .come2 {
            animation: come 1s linear;
            animation-delay: 1s;
            animation-fill-mode: forwards;
          }

          .come3 {
            animation: come 1s linear;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
          }

          .come4 {
            animation: come 1s linear;
            animation-delay: 2s;
            animation-fill-mode: forwards;
          }

          .come5 {
            animation: come 1s linear;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
          }

          .come6 {
            animation: come 1s linear;
            animation-delay: 3s;
            animation-fill-mode: forwards;
          }

          .come7 {
            animation: come 1s linear;
            animation-delay: 3.5s;
            animation-fill-mode: forwards;
          }

          .come8 {
            animation: come 1s linear;
            animation-delay: 4s;
            animation-fill-mode: forwards;
          }

          .come9 {
            animation: come 1s linear;
            animation-delay: 4.5s;
            animation-fill-mode: forwards;
          }

          .come10 {
            animation: come 1s linear;
            animation-delay: 5s;
            animation-fill-mode: forwards;
          }
        }


      }
    }
  }

  .close {
    width: 0.56rem;
    height: 0.56rem;
    background: url('/images/gashapon/close.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -0.4rem;
    opacity: 0;
  }

  .close-ani {
    animation: scale .5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
}